@model SistemaChamados.Models.Account.ChangePasswordViewModel
@{
    ViewData["Title"] = "Alterar senha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">

    <div class="pagetitle col-lg-10" style="display: flex; flex-direction: column; margin: 0 auto;">
        <h1>Alterar senha</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Home">Home</a></li>
                <li class="breadcrumb-item"><a asp-action="ListUsers">Usuários</a></li>
                <li class="breadcrumb-item"><a asp-action="EditUser" asp-route-id="@Model.UserId">Editar Usuário</a></li>
                <li class="breadcrumb-item active">Alterar senha</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row" style="justify-content: center;">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <br />
                        <!-- Multi Columns Form -->
                        <form asp-controller="Dashboard" asp-action="ChangePassword" method="post" class="row">
                            <input type="hidden" asp-for="UserId" />

                            <div class="form-floating mb-3 col-4">
                                <input id="floatingCuPass" asp-for="CurrentPassword" class="form-control" placeholder="CurrentPassword" />
                                <label for="floatingCuPass" asp-for="CurrentPassword"></label>
                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3 col-4">
                                <input id="floatingNewPassword" asp-for="NewPassword" class="form-control" placeholder="NewPassword" />
                                <label for="floatingNewPassword" asp-for="NewPassword"></label>
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3 col-4">
                                <input id="floatingConfConfirm" asp-for="ConfirmPassword" class="form-control" placeholder="ConfirmPassword" />
                                <label for="floatingConfConfirm" asp-for="ConfirmPassword"></label>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-primary w-100" type="submit">Alterar senha</button>
                            </div>
                        </form>
                    </div>
                </div>
                <a asp-action="EditUser" asp-route-id="@Model.UserId" type="button" class="btn btn-secondary btn-sm">Voltar</a>
            </div>
        </div>
    </section>
</main><!-- End #main -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }