@using Microsoft.AspNetCore.Identity
@using SistemaChamados.Data.Identity
@inject UserManager<UserCustom> UserManager

@model SistemaChamados.Models.Calls
@{
    ViewData["Title"] = "Novo Chamado";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = await UserManager.GetUserAsync(User);
}
<main id="main" class="main">

    <div class="pagetitle col-lg-6" style="display: flex; flex-direction: column; margin: 0 auto;">
        <h1>Novo Cadastro</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a asp-action="ListCalls">Chamados</a></li>
                <li class="breadcrumb-item active">@ViewData["Title"]</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row" style="justify-content: center;">
            <div class="col-lg-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <br />
                        <!-- Multi Columns Form -->
                        <form asp-action="CreateCall" method="post" class="row">
                            <input type="hidden" value="@user.Id" asp-for="AspNetUsersId" />

                            <div class="form-floating mb-3">
                                <select class="form-select" asp-for="Status" id="floatingSelect" aria-label="Floating label select example">
                                    <option selected>Status</option>
                                    @foreach (var item in ViewBag.Status)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                </select>
                                <label for="floatingSelect" asp-for="Status">Cargo</label>
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input id="floatingName" asp-for="Name" class="form-control" placeholder="Name" />
                                <label for="floatingName" asp-for="Name"></label>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input id="floatingEmail" asp-for="Phone" class="form-control" placeholder="Phone" />
                                <label for="floatingEmail" asp-for="Phone"></label>
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input id="floatingBith" asp-for="Ramal" class="form-control" placeholder="Ramal" />
                                <label for="floatingBith" asp-for="Ramal"></label>
                                <span asp-validation-for="Ramal" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input id="floatingPhone" asp-for="Title" class="form-control" placeholder="Title" />
                                <label for="floatingPhone" asp-for="Title"></label>
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input id="floatingDepar" asp-for="Decription" class="form-control" placeholder="Decription" />
                                <label for="floatingDepar" asp-for="Decription"></label>
                                <span asp-validation-for="Decription" class="text-danger"></span>
                            </div>
                            
                            <div class="col-12">
                                <button class="btn btn-primary w-100" type="submit">Criar Chamado</button>
                            </div>
                        </form>
                    </div>
                </div>
                <a asp-action="ListCalls" type="button" class="btn btn-secondary btn-sm">Voltar</a>
            </div>
        </div>
    </section>
</main><!-- End #main -->
@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}