@using Microsoft.AspNetCore.Identity
@using SistemaChamados.Data.Identity
@inject SistemaChamados.Data.SistemaDbContext _context;
@inject UserManager<UserCustom> UserManager
@model SistemaChamados.Models.Viewdata
@{
    ViewData["Title"] = "Chamados";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = await UserManager.GetUserAsync(User);
}
<main id="main" class="main">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Chamados Gerais</h5>

                    <canvas id="pieChart" style="max-height: 400px;"></canvas>
                </div>
                <p class="text-center">Total: @Model.Count Chamados</p>
            </div>
        </div>
</main>
@section Scripts {
    @if(User.IsInRole("Administrador")){
    <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", () => {
                new Chart(document.querySelector('#pieChart'), {
                    type: 'pie',
                    data: {
                        labels: [
                            'Aberto',
                            'Andamento',
                            'Fechado'
                        ],
                        datasets: [{
                            label: 'My First Dataset',
                            data: [@Model.Aberto, @Model.Andamnto, @Model.Fechado],
                            backgroundColor: [
                                'rgb(255, 99, 132)',
                                'rgb(54, 162, 235)',
                                'rgb(255, 205, 86)'
                            ],
                            hoverOffset: 4
                        }]
                    }
                });
            });
    </script>
    }
    @if (User.IsInRole("Operador"))
    {
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            new Chart(document.querySelector('#pieChart'), {
                type: 'pie',
                data: {
                    labels: [
                        'Andamento',
                        'Fechado'
                    ],
                    datasets: [{
                        label: 'My First Dataset',
                        data: [@Model.Andamnto, @Model.Fechado],
                        backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(54, 162, 235)',
                            'rgb(255, 205, 86)'
                        ],
                        hoverOffset: 4
                    }]
                }
            });
        });
    </script>
    }
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}