@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Funções";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container lists">
    <h1>Funções</h1>

    <p>
        <a class="btn btn-success" asp-action="CreateRole">Criar Função</a>
    </p>
    <table class="table">
        <thead class="bg-dark text-white">
            <tr>
                <th>
                    Nome
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="crud-button">
                        <a class="btn btn-outline-primary" asp-action="EditRole" asp-route-id="@item.Id">Editar</a>
                        <a class="btn btn-outline-danger" asp-action="DeleteRole" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
