@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Funções";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Funções</h1>

<p>
    <a asp-action="CreateRole"> Criar Função</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="EditRole" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DeleteRole" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
