@model Mercado.Models.Product

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-floating">
                <input id="floatingInput" asp-for="Name" class="form-control" placeholder="Name" />
                <label for="floatingInput" asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input id="floatingInput" asp-for="Quantity" class="form-control" placeholder="Quantity" />
                <label for="floatingInput" asp-for="Quantity"></label>
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input id="floatingInput" asp-for="Price" class="form-control" placeholder="Price" />
                <label for="floatingInput" asp-for="Price"></label>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <select id="floatingInput" asp-for="ProviderId" aria-label="Floating label select example" class ="form-select">
                    @foreach (var item in ViewData["Provider"] as List<Mercado.Models.Provider>)
                   {
                       if (item == Model.Fornecedor)
                       {
                            <option selected value="@item.Id">@item.Company</option> 
                        }else{
                            <option value="@item.Id">@item.Company</option>
                        }
                   }
                </select>
                <label for="floatingInput" asp-for="ProviderId"></label>
                <span asp-validation-for="ProviderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
