@using Mercado.Data.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserCustom> SignInManager
@inject UserManager<UserCustom> UserManager

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mercado</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 align-items-center">
                    <li>
                        <a class="navbar-brand logo" asp-area="" asp-controller="Home" asp-action="Index">
                            <p>Mercado</p>
                            <img src="~/images/logo.png" />
                        </a>
                    </li>
                    <li>
                        <a class="nav-link px-2 text-white" asp-area="" asp-controller="Provider"
                            asp-action="Index">Fornecedor</a>
                    </li>
                    <li>
                        <a class="nav-link px-2 text-white" asp-area="" asp-controller="Product"
                            asp-action="Index">Produtos</a>
                    </li>
                </ul>
                <div class="text-end">
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 align-items-center">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white">Olá @((await UserManager.GetUserAsync(User)).Name)!</a>
                            </li>
                            if (User.IsInRole("Administrador"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Administration"
                                asp-action="ListRole">Funções</a>
                                </li>
                            }
                            <li class="nav-item">
                                <form id="logoutForm" asp-controller="account" asp-action="logout" class="form-inline">
                                    <button id="logout" type="submit"
                                    class="nav-link btn btn-link text-white">Sair</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Account"
                                asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Account"
                                asp-action="Register">Cadastrar</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Mercado - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
